version: '3.8'

services:
  app:
    build:
      context: .
      target: production
    restart: always
    env_file: .env.production
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=3333
      - DB_HOST=postgres
      - DB_PORT=5432
    ports:
      - '3334:3333'
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgis/postgis:16-3.4-alpine
    restart: always
    env_file: .env.production
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_DATABASE}']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
